<section class="">
  <div class="bg-image-holder bredcrumb bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>Admin</h2>
          <hr class="hr_narrow  hr_color">
        </div>
      </div>
    </div>
  </div>
</section>

<div class="grid-wrapper section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-12 element-content">
        <div id="tables" class="element_single">
          <div class="display-single_element">
            <h3 style="margin: 30px 0">Detalhes <%= @budget.token %></h3>

            <div class="actions">
              <a class="btn btn-primary float-left" href="<%= url("/admin/#{@budget.token}/editar") %>">Editar</a>
            </div>

            <br>
            <br>
            <br>

            <dl>
              <dt>Token</dt>
              <dd><%= @budget.token %></dd>

              <dt>Status</dt>
              <dl><%= @budget.status %></dl>

              <dt>Criado Em</dt>
              <dd><%= @budget.created_at %></dd>

              <dt>Atualizado Em</dt>
              <dd><%= @budget.updated_at %></dd>

              <dt>Tipo de Serviço</dt>
              <dd><%= @budget.service %></dd>

              <dt>Nome</dt>
              <dd><%= @budget.name %></dd>

              <dt>Telefone</dt>
              <dd><%= @budget.phone %></dd>

              <dt>Whatsapp</dt>
              <dd><%= @budget.whatsapp %></dd>

              <dt>Email</dt>
              <dd><%= @budget.email %></dd>

              <dt>Comentário</dt>
              <dd><%= @budget.comment %></dd>

              <dt>Orçamento</dt>
              <div class="trix-content-budget">
                <%= @budget.budget_text %>
              </div>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

