<section class="">
  <div class="bg-image-holder bredcrumb bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>Admin</h2>
          <hr class="hr_narrow  hr_color">
        </div>
      </div>
    </div>
  </div>
</section>

<div class="grid-wrapper section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-12 element-content">
        <div id="tables" class="element_single">
          <div class="display-single_element">
            <h3 style="margin: 30px 0">Editar <%= @budget.token %></h3>

            <form action="<%= url("/admin/#{@budget.token}") %>" method="POST">
              <input type="hidden" name="_method" value="PATCH">

              <div class="form-group row">
                <label for="service" class="col-md-12 col-form-label">Status</label>
                <div class="col-md-10">
                  <input class="form-control" type="text" name="status" value="<%= @budget.status %>">
                </div>
              </div>

              <div class="form-group row">
                <label for="service" class="col-md-12 col-form-label">Tipo de Serviço</label>
                <div class="col-md-10">
                  <input class="form-control" type="text" name="service" value="<%= @budget.service %>">
                </div>
              </div>

              <div class="form-group row">
                <label for="name" class="col-md-12 col-form-label">Nome</label>
                <div class="col-md-10">
                  <input class="form-control" type="text" name="name" value="<%= @budget.name %>">
                </div>
              </div>

              <div class="form-group row">
                <label for="phone" class="col-md-12 col-form-label">Telefone</label>
                <div class="col-md-10">
                  <input class="form-control" type="text" name="phone" value="<%= @budget.phone %>">
                </div>
              </div>

              <div class="form-group row">
                <label for="whatsapp" class="col-md-12 col-form-label">Whatsapp</label>
                <div class="col-md-10">
                  <input class="form-control" type="text" name="whatsapp" value="<%= @budget.whatsapp %>">
                </div>
              </div>

              <div class="form-group row">
                <label for="email" class="col-md-12 col-form-label">Email</label>
                <div class="col-md-10">
                  <input class="form-control" type="text" name="email" value="<%= @budget.email %>">
                </div>
              </div>

              <div class="form-group row">
                <label for="comment" class="col-md-12 col-form-label">Comentário</label>
                <div class="col-md-10">
                  <input class="form-control" type="text" name="comment" value="<%= @budget.comment %>">
                </div>
              </div>

              <div class="form-group row">
                <label for="reject_text" class="col-md-12 col-form-label">Motivo da recusa</label>
                <div class="col-md-10">
                  <textarea class="form-control" type="text" name="reject_text"><%= @budget.reject_text %></textarea>
                </div>
              </div>

              <div class="form-group row">
                <label for="budget-text" class="col-md-12 col-form-label">Texto do Orçamento</label>
                <div class="col-md-10">
                  <input id="budget-text-field" type="hidden" name="budget_text" value="<%= @budget.budget_text %>">
                  <trix-editor input="budget-text-field" class="trix-content-budget"></trix-editor>
                </div>
              </div>

              <button type="submit" class="btn btn-default btn-primary">Salvar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :css do %>
  <link href="/plugins/trix/trix.css" rel="stylesheet">
<% end %>

<% content_for :javascript do %>
  <script src="/plugins/trix/trix.min.js"></script>
<% end %>

