<section class="services-area services-area2">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="sectionTitle text-center">
          <h2>Nossos Serviços</h2>
          <p>Veja aqui a lista de serviços que nós oferecemos</p>
        </div>
      </div>
    </div>
    <div class="row">
      <% ServiceListService.instance.each do |service| %>
        <div class="col-md-6 col-lg-4">
          <div class="card mt-5">
            <div class="card-img">
              <a href="<%= url(service['url']) %>"><img src="<%= service['image'] %>" alt="" class="img-fluid"></a>
            </div>
            <div class="card-block">
              <a href="<%= url(service['url']) %>"><h4 class="card-title"><%= service['name'] %></h4></a>
              <p class="mb-3"><%= service['description'] %></p>
              <a href="<%= url(service['url']) %>" class="btn btn-primary btn-sm">Contratar</a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
