<div class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div class="topbar-content">
          <i class="fa fa-phone" aria-hidden="true"></i>
          <a href="tel:<%= @isaveu_phone %>"><%= @isaveu_phone %></a>
        </div>
        <div class="topbar-content">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <a href="mailto:<%= @isaveu_email %>"><%= @isaveu_email %></a>
        </div>
      </div>
      <div class="col-sm-3 text-right">
        <a href="<%= url('/servicos') %>" class="btn btn-primary btn-default bold">Contratar</a>
      </div>
    </div>
  </div>
</div>
