<section>
  <div class="text-center">
    <h2>Escolha a forma de pagamento</h2>

    <p>
      No momento estamos aceitando apenas <strong>Transferência Bancária</strong>.
      Em breve aceitaremos Cartão de Crédito.
    </p>
  </div>

  <div class="row" style="margin-top: 40px">
    <div class="col-sm-12 col-md-4 offset-md-2">
      <div class="card bg-primary mb-3 text-white" style="max-width: 20rem;">
        <div class="card-header">Transferência Bancária</div>
        <div class="card-body">
          <p class="card-text">Após fazer a transferência, você envia o comprovante via WhatsApp para que possamos confirmar o recebimento</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 40px">
    <div class="col-sm-12 col-md-6 offset-md-3">
      <h3>Dados para transferência</h3>

      <dl>
        <dt>Banco</dt>
        <dd><%= @bank_transfer_bank %></dd>

        <dt>Agência</dt>
        <dd><%= @bank_transfer_agency %></dd>

        <dt>Conta</dt>
        <dd><%= @bank_transfer_account %></dd>
      </dl>

      <br>
      <h4>Após fazer a transferência, envie o comprovante via WhatsApp para este número: <strong><%= @bank_transfer_whatsapp %></strong></h4>

      <br><br>
      <p>Caso tenha dúvidas entre em contato:</p>
      <dl>
        <dt>Email</dt>
        <dd><%= @bank_transfer_email %></dd>

        <dt>Telefone</dt>
        <dd><%= @bank_transfer_phone %></dd>
      </dl>
    </div>
  </div>
</section>
