<html>
  <body>
    <dl>
      <dt>Token</dt>
      <dd><%= @contact.token %></dd>

      <dt>Criado Em</dt>
      <dd><%= @contact.created_at %></dd>

      <dt>Nome</dt>
      <dd><%= @contact.name %></dd>

      <dt>Telefone</dt>
      <dd><%= @contact.phone %></dd>

      <dt>Email</dt>
      <dd><%= @contact.email %></dd>

      <dt>Assunto</dt>
      <dd><%= @contact.subject %></dd>

      <dt>Message</dt>
      <dd><%= @contact.message %></dd>
    </dl>
  </body>
</html>
