<html>
  <body>
    <dl>
      <dt>Token</dt>
      <dd><%= @budget.token %></dd>

      <dt>Criado Em</dt>
      <dd><%= @budget.created_at %></dd>

      <dt>Tipo de Serviço</dt>
      <dd><%= @budget.service %></dd>

      <dt>Nome</dt>
      <dd><%= @budget.name %></dd>

      <dt>Telefone</dt>
      <dd><%= @budget.phone %></dd>

      <dt>Whatsapp</dt>
      <dd><%= @budget.whatsapp %></dd>

      <dt>Email</dt>
      <dd><%= @budget.email %></dd>

      <dt>Comentário</dt>
      <dd><%= @budget.comment %></dd>
    </dl>
  </body>
</html>
