<section class="">
  <div class="bg-image-holder bredcrumb bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>Admin</h2>
          <hr class="hr_narrow  hr_color">
        </div>
      </div>
    </div>
  </div>
</section>

<div class="grid-wrapper section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-12 element-content">
        <div id="tables" class="element_single">
          <div class="display-single_element">
            <h3 style="margin: 30px 0">Solicitações de Orçamento</h3>
            <table class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>#</th>
                <th>Token</th>
                <th>Status</th>
                <th>Criado Em</th>
                <th>Tipo de Serviço</th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Whatsapp</th>
                <th>Email</th>
              </tr>
              </thead>
              <tbody>
              <% @budgets.each_with_index do |budget, i| %>
              <tr>
                <th scope="row"><%= i + 1 %></th>
                <td><a href="<%= url("/admin/#{budget.key.name}") %>"><%= budget.key.name %></a></td>
                <td><%= budget['Status'] %></td>
                <td><%= budget['Timestamp'] %></td>
                <td><%= budget['Tipo de Serviço'] %></td>
                <td><%= budget['Nome'] %></td>
                <td><%= budget['Telefone'] %></td>
                <td><%= budget['Whatsapp'] %></td>
                <td><%= budget['Email'] %></td>
              </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

