<section class="services-area services-area2">
  <div class="container">
    <% if @budget.status_rejected? %>
      <%= erb :'budget/partials/rejected' %>
    <% end %>

    <% if @budget.status_accepted? %>
      <%= erb :'budget/partials/accepted' %>
    <% end %>

    <% if @budget.status_paid? %>
      <%= erb :'budget/partials/paid' %>
    <% end %>

    <% if @budget.status_done? %>
      <%= erb :'budget/partials/done' %>
    <% end %>

    <br>
    <br>

    <div class="row">
      <div class="col-sm-12">
        <div class="trix-content-budget">
          <%= @budget.budget_text %>
        </div>
      </div>
    </div>

    <% if @budget.status_new? %>
      <%= erb :'budget/partials/new' %>
    <% end %>
  </div>
</section>
